@using MVC.Components.TagHelpers
@model List<Domain.Models.Department>

@{
    ViewData["Title"] = "Monitoring";
}

<h1>Monitoring</h1>

<input type="text" id="searchNameInput" placeholder="Find" autocomplete="off">
&nbsp;&nbsp;&nbsp;&nbsp;
<a asp-action="Sync" class="btn btn-primary">Syncronize</a>

<ul class="departments">
    @foreach (var item in Model)
    {
        if (item.DepartmentMainName == null)
        {
            @Html.CreateCollectionViewForSingle(item)
        }    
    }
</ul>

<script type="text/javascript" src="~/js/monitoring.js"></script>
