@model List<Domain.Models.Department>

@{
    ViewData["Title"] = "Monitoring";
}

<h1>Monitoring</h1>

<button id="btnConnect" class="btn btn-primary">Connect</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="@item.Name" class="DepartmentName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td id="@string.Concat(item.Name, "Status")" class="DepartmentStatus">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="~/js/monitoring.js"></script>
